:root {
  --gray-color: #808080;
  --red-color: #d92d2b;
  --blue-color: #3679f6;
  --green-color: #056c4a;
  --yellow-color: #f1c40f;
}
.home-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  overflow-y: auto;
  position: relative;
  max-width: 3000px;
  margin: 0 auto;
}
.home-left,
.home-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}
.home-left,
.home-right {
  text-align: left;
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 2s ease-in-out,
    transform 2s ease-in-out;
  will-change: transform;
}

.home-left.animate {
  opacity: 1;
  transform: translateY(0);
}

.home-right {
  transform: translateX(50px);
}

.home-right.animate {
  opacity: 1;
  transform: translateX(0);
}
.home-right {
  justify-content: center;
  align-items: center;
}
.intro-text,
.catchy-phrase,
.d-parag,
.intro-text {
  color: var(--gray-color);
  font-family: "Space Mono", monospace;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-optical-sizing: auto;
  padding: 1rem 0 1rem 0;
}
.intro-text:hover,
.catchy-phrase:hover,
.d-parag:hover,
.intro-text:hover {
  color: #b9b9b9;
}

.name-text {
  font-size: 36px;
  line-height: 50px;
  font-family: "Space Mono", monospace;
  font-weight: 600;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin: 0;
  color: var(--gray-color);
  padding: 1rem 0 1rem 0;
}

.name-text:hover {
  color: #b9b9b9;
}

.faded-text {
  font-size: 45px;
  color: var(--gray-color);
}

.catchy-phrase {
  font-size: 45px;
  line-height: 50px;
  margin: 0;
}

.d-parag {
  font-size: 18px;
  line-height: 20px;
}

.one,
.two,
.three {
  letter-spacing: 0.3em;
}

.one {
  color: var(--yellow-color);
}

.two {
  color: var(--blue-color);
}

.three {
  color: var(--red-color);
}

.one:hover,
.two:hover,
.three:hover {
  cursor: pointer;
  position: relative;
}

.one:hover::after,
.two:hover::after,
.three:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 2px;
}

.one:hover::after {
  background-color: var(--yellow-color);
}

.two:hover::after {
  background-color: var(--blue-color);
}

.three:hover::after {
  background-color: var(--red-color);
}

.one:hover {
  border-bottom: 2px solid var(--yellow-color);
}

.two:hover {
  border-bottom: 2px solid var(--blue-color);
}

.three:hover {
  border-bottom: 3px solid var(--red-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.home-section {
  position: relative;
}

.main-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
  margin: 0 auto;
}

.main-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  .home-container {
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;
  }
  .home-left,
  .home-right {
    width: 100%;
    text-align: center;
  }

  .home-left {
    padding-bottom: 1rem;
  }
  .catchy-phrase {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .catchy-phrase {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .home-container {
    flex-direction: column;
    padding: 1rem;
  }

  .home-left {
    padding: 1rem 0;
  }

  .main-section::before {
    content: none;
    background: none;
    padding: 20px;
  }

  .name-text {
    font-size: 30px;
  }

  .catchy-phrase {
    font-size: 25px;
    line-height: 35px;
  }

  .d-parag {
    font-size: 12px;
    line-height: 24px;
    text-align: left;
  }
}

@media screen and (max-width: 540px) {
  .main-section {
    background: none;
    opacity: 1;
  }
  .intro-text {
    font-size: 12;
  }

  .name-text {
    font-size: 24px;
    line-height: 2.2rem;
  }

  .catchy-phrase {
    font-size: 20px;
    line-height: 28px;
  }

  .d-parag {
    font-size: 12px;
    line-height: 24px;
  }
}
@media screen and (max-width: 376px) {
  .main-section {
    background: none;
    opacity: 1;
  }
  .intro-text {
    font-size: 12px;
  }

  .name-text {
    font-size: 16px;
    line-height: 28px;
  }

  .catchy-phrase {
    font-size: 14px;
    line-height: 28px;
  }

  .d-parag {
    font-size: 10px;
    line-height: 20px;
    padding: 1rem;
  }
  .home-right {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
  .home-left {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .catchy-phrase,
  .d-parag {
    text-align: center;
    margin: 0 auto;
    max-width: 90%;
  }
}

@media screen and (min-width: 2550px) {
  .main-section {
    padding: 5rem 10rem 5rem 10rem;
  }
  .home-container {
    align-items: left;
    padding: 0 1.5rem;
  }
  .home-left,
  .home-right {
    width: 100%;
    text-align: left;
    font-size: 34px;
  }

  .home-left {
    padding-bottom: 1rem;
  }

  .name-text {
    font-size: 65px;
    line-height: 3rem;
  }

  .catchy-phrase {
    font-size: 45px;
    line-height: 2rem;
    padding-bottom: 2rem;
  }

  .d-parag {
    font-size: 34px;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1025px) {
  .main-section {
    padding: 0 3rem 0 3rem;
  }
}
