.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-section {
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 1.5s ease,
    transform 1.5s ease;
}

.image-section.animate {
  opacity: 1;
  transform: translateY(0);
}

.responsive-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  object-fit: contain;
}

@media (max-width: 376px) {
  .responsive-image {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .responsive-image {
    max-width: 400px;
  }
}

@media (max-width: 1440px) {
  .responsive-image {
    max-width: 500px;
  }
}

@media (min-width: 2550px) {
  .responsive-image {
    max-width: 600px;
    padding-top: 10rem;
  }
}
