:root {
  --gray-color: #b8b8b8;
  --red-color: #d92d2b;
  --blue-color: #3679f6;
  --green-color: #056c4a;
  --yellow-color: #f1c40f;
}
.name-section {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  gap: 10px; /* Space between the number and title */
  text-align: center;
  width: 100%;
}

.section-number {
  color: var(--green-color);
  font-size: 32px;
  font-weight: 900;
  font-family: "Bevan", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.section-name {
  font-family: "Bevan", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 3px;
  font-style: normal;
  font-size: 32px;
  color: var(--gray-color);
}

.section-name::after {
  content: "";
  display: block;
  height: 0.5px;
  background-color: rgba(148, 163, 184, 0.2);
  width: 300px;
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .section-name::after {
    display: none;
    visibility: hidden;
  }
  .name-section {
    padding: 1rem 0 3rem 0;
  }
  .section-number {
    font-size: 18px;
  }
  .section-name {
    font-size: 20px;
  }
}
@media screen and (max-width: 376px) {
  .name-section {
    padding: 1rem 0 3rem 0;
  }
  .section-number {
    font-size: 14px;
  }
  .section-name {
    font-size: 14px;
  }
}
@media screen and (min-width: 2550px) {
  .name-section {
    padding: 5rem 0 15rem 0;
  }
  .section-number {
    font-size: 34px;
  }
  .section-name {
    font-size: 34px;
  }
}
@media screen and (max-width: 1200px) {
  .section-name::after {
    display: none;
    visibility: hidden;
  }
  .name-section {
    padding: 1rem 0 5rem 0;
  }
}
