@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable {
  overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
  width: 1rem;
}

.scrollable::-webkit-scrollbar-track {
  background: none;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #f1c40f;
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: rgba(56, 189, 248, 0.5);
}
